# Data
data/*
!data/README.md

# Python
__pycache__/
*.pyc
.env

# Node
node_modules/

# OS
.DS_Store

#.env
.env.local
.env.development.local
.idea/CS-4485-Disaster-Damage-Assessment.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/.idea/workspace.xml
